* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

.navbar {
    align-items: center;
    background-color: #21222A;
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding: 30px;
}

.navbar-left {
    align-items: center;
    color: #61DAFB;
    display: flex;
}

.navbar-right {
    color: #DEEBF8;
}

.navbar-right > h3 {
    font-weight: 400;
}

#react-logo {
    margin-right: 10px;
    width: 60px;
}