* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}


html {
    min-height: 100vh;
}

.fact-list {
    padding-left: 50px;
    padding-top: 50px;
}

.fact-list > li {
    font-weight: 400;
    padding-bottom: 20px;
}

.main-content {
    background-color: #282D35;
    color: #FFFFFF;
    min-height: 100vh;
    padding-left: 30px;
    padding-top: 60px;
}

.navbar {
    align-items: center;
    background-color: #21222A;
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding: 30px;
}

.navbar-left {
    align-items: center;
    color: #61DAFB;
    display: flex;
}

.navbar-right {
    color: #DEEBF8;
}

.navbar-right > h3 {
    font-weight: 400;
}

#react-logo {
    margin-right: 10px;
    width: 60px;
}